body {
  font-family: 'Roboto' !important;

  .full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
  }

  img.logo {
    width: 300px;
  }

  .center-align {
    text-align: center;
  }

  i.fa-arrow-circle-o-down {
    font-size: 4rem;
    color: #FFFFFF;
    position: absolute;
    right: 50%;
    bottom: 2rem;
    opacity: 0.9;
    cursor: pointer;
  }

  .full-bg {
    padding: 0;
    margin: 0;
    background: url(../images/full-bg.png) no-repeat center center;
    background-size: cover;

    .row {
      //max-width: 1200px;
      //width: 80%;
      margin: auto;
      //padding: 0px;


      .text-container {

        //width: 322px;
        //float: right;
        //margin-right: 9%;
        color: white;

        .title {
          font-weight: 100;
          font-family: 'Roboto';
        }
        .text {
          font-family: 'Roboto';
          font-weight: 300;
        }

      }

      .button-container {
        //float: left;
        //margin-left: 10%;
        //margin-top: -5%;
        //width: 350px;

        .download-btn {

          cursor: pointer;
          z-index: 1;
          position: relative;
          display: inline-block;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
          background: #464646; /* Old browsers */
          background: -moz-linear-gradient(top, #464646 0%, #111111 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #464646 0%, #111111 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #464646 0%, #111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#111111', GradientType=0); /* IE6-9 */

          border: 3px solid white;

          text-transform: uppercase;
          color: #fff;

          padding: .6rem;
          border-radius: 10px;
          font-weight: bold;
          font-size: 1.6em;

          -webkit-box-shadow: -2px 6px 22px -3px rgba(255, 255, 255, 1);
          -moz-box-shadow: -2px 6px 22px -3px rgba(255, 255, 255, 1);
          box-shadow: -2px 6px 22px -3px rgba(255, 255, 255, 1);

          min-width: 214px;

          .text {
            width: 80%;
            float: left;

            h4 {
              margin-bottom: 0;
            }

            div {
              font-size: .9rem;
            }
          }

          .icon {
            float: left;
            width: 20%;
          }


        }

      }

    }

  }

  .points {

    h2 {
      font-weight: 100;
      font-family: 'Roboto';
      color: #F6453F;
      text-align: center;
    }

    h5 {
      font-weight: 300;
      font-family: 'Roboto';
      text-align: center;
    }

    .circle {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 1px solid #f7423b;
      margin: 0 auto;

      &:hover {
        -webkit-animation-name: white-to-red; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
        animation-name: white-to-red;
        animation-duration: 0.6s;

        i {
          -webkit-animation-name: red-to-white; /* Chrome, Safari, Opera */
          -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
          animation-name: red-to-white;
          animation-duration: 0.6s;

        }
      }

      i {
        margin: 2rem;
        font-size: 3rem;
        color: #f7423b;

        &.fa-play {
          margin: 2rem 2.5rem;
        }
      }
    }
  }

  .red-bg {
    background-color: #F6453F;

    h1 {
      font-family: 'Roboto';
      font-weight: 100;
      color: white;
      text-align: center;
    }
  }

  .pc-image {

    .content {

      text-align: center;
      max-width: 980px;
      margin: auto;

      img {
        width: 80%;
      }

      .text-container {

        .download-btn2 {
          //width: 479px;
          //background: url("../images/pc-download.png") no-repeat;
          margin: 5% auto;

          cursor: pointer;
          z-index: 1;
          position: relative;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
          background: #F7423B; /* Old browsers */
          background: -moz-linear-gradient(top,  #F7423B 0%, #D43A34 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #F7423B 0%,#D43A34 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #F7423B 0%,#D43A34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7423B', endColorstr='#D43A34',GradientType=0 ); /* IE6-9 */

          color: #fff;

          padding: .5em 1em;
          border-radius: 10px;
          font-weight: bold;
          font-size: 1.7em;
          -webkit-box-shadow: -2px 11px 30px -3px rgba(0,0,0,0.75);
          -moz-box-shadow: -2px 11px 30px -3px rgba(0,0,0,0.75);
          box-shadow: -2px 11px 30px -3px rgba(0,0,0,0.75);

        }
      }

    }
  }

  .features {
    i {
      color: #F6453F;
      font-size: 2rem;
    }
    h5 {
      font-family: 'Roboto';
      font-weight: 100;
    }
  }

  .footer-arrows {
    background: url("../images/arrow-up.png") repeat-x;
    height: 16px;
  }

  .footer {
    background-color: #363636;

    .content {
      max-width: 1200px;
      margin: auto;
      padding: 0px;

      p {
        color: #A9A9A9;
        font-size: 0.8rem;
      }

    }

  }

  /* SPACING */
  .no-padding {
    padding: 0
  }

  .padding {
    padding: 1em
  }

  .padding-double {
    padding: 2em
  }

  .padding-half {
    padding: .5em
  }

  .padding-bottom {
    padding-bottom: 1em
  }

  .padding-bottom-double {
    padding-bottom: 2em
  }

  .padding-bottom-half {
    padding-bottom: .5em
  }

  .padding-bottom-quarter {
    padding-bottom: .25em
  }

  .padding-right {
    padding-right: 1em
  }

  .padding-right-half {
    padding-right: .5em
  }

  .padding-right-double {
    padding-right: 2em
  }

  .padding-right-quarter {
    padding-right: .25em
  }

  .padding-left {
    padding-left: 1em
  }

  .padding-left-half {
    padding-left: .5em
  }

  .padding-left-double {
    padding-left: 2em
  }

  .padding-left-quarter {
    padding-left: .25em
  }

  .padding-top {
    padding-top: 1em
  }

  .padding-top-half {
    padding-top: .5em
  }

  .padding-top-double {
    padding-top: 2em
  }

  .padding-top-quarter {
    padding-top: .25em
  }

}

/* Chrome, Safari, Opera */
@-webkit-keyframes white-to-red {
  from {
    background-color: white;
    color: #f7423b;
  }
  to {
    background-color: #f7423b;
    color: white;
  }
}

/* Standard syntax */
@keyframes white-to-red {
  from {
    background-color: white;
    color: #f7423b;
  }
  to {
    background-color: #f7423b;
    color: white;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes red-to-white {
  from {
    color: #f7423b;
  }
  to {
    color: white;
  }
}

/* Standard syntax */
@keyframes red-to-white {
  from {
    color: #f7423b;
  }
  to {
    color: white;
  }
}

//@media only screen and (max-width: 1080px) {
//  .text-container {
//    float: none !important;
//    margin: 10% auto !important;
//    width: auto !important;
//  }
//
//
//  .button-container {
//    float: none !important;
//    margin: 10% auto !important;
//    width: auto !important;
//
//  }
//
//  body .pc-image .content .text-container .download-btn2 {
//    width: 80% !important;
//  }
//}

@media only screen and (max-width: 768px) {
  //.text-container {
  //  float: none !important;
  //  margin: 2% auto !important;
  //  width: auto !important;
  //}
  //
  //
  //.button-container {
  //  float: none !important;
  //  margin: 2% auto !important;
  //  width: auto !important;
  //
  //}

  //body .pc-image .content .text-container .download-btn2 {
  //  width: 80% !important;
  //}
}
